<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
      
      </ion-buttons>
      <ion-title class="ion-text-center">
          <h1 class="centered-title">
             </h1>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div>
    <h1 class="ion-text-center">Sign up or Login here</h1>
    <p  class="ion-text-center" >Welcome To National Transport Application</p>
   </div>
   <div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    <ion-card style="background-color: darkgray;" routerLink="/login">
      <h4 class="connect-Email">
         Sign in with Email
       </h4>
    </ion-card>
    <ion-card style="background-color: darkgray;" routerLink="/create-account">
      <h4 class="connect-Email">
         Create your account
       </h4>
    </ion-card>
   </div>
</ion-content>
