
ion-header ion-toolbar {
    --background: #382574;
}

ion-title,.arrow-forward,.arrow-back {
    color: #ffffff;
}

p {
    font-size: 0.8em;
    color: #d2d2d2;
}
ion-select  {
    margin-right:10px;
    color: #545ca7;
    
  }

ion-button {
    margin-bottom:25px;
    margin-left:70px;
    margin-right:70px;
   --background: #382574;
   }
   .create-button-color{
     --background: #382574;
   }

ion-slide {
    display: block;
}

ion-label, .select-text {
    margin-left: 1px;
}

.invalid {
    border-bottom: 1px solid #ea6153;
}

div {
    margin-top: 70px;
}

ion-list {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10%;
 
  
}


.arrow-back,.arrow-forward,.bouton-create{
  margin-top: 70px;
 }

 

ion-slides {
    height: 453px;
}


ion-label {
    color:black;
}

  .arrow-back {
   margin-right: 92px;
  
 }
.error {
    display:block;
    margin-top:20px;
    color: red;
}




.item-ligne {
    color:red;
}

h1 {
    width:154px;
}