<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login" style="color: white;"></ion-back-button>
      </ion-buttons>
      <ion-title text-center>
          <h1 class="centered-title">
              <ion-icon name="create"></ion-icon>Singn up </h1>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

      <ion-list>
          <form [formGroup]="UserCompanyProfile" (ngSubmit)="save()">
          
              <ion-item>
                <ion-label position="floating" style="color:black">First Name</ion-label>
                  <ion-input formControlName="firstname" type="text"></ion-input>
              </ion-item>
             

              <ion-item>
                <ion-label position="floating" style="color:black">Last Name</ion-label>
                  <ion-input formControlName="lastname" type="text" ></ion-input>
              </ion-item>
             

              <ion-item>
                <ion-label position="floating" style="color:black">Email</ion-label>
                <ion-input formControlName="Email" type="Email" ></ion-input>
               
            </ion-item>
            
              
            <ion-item>
              <ion-label position="floating" style="color:black">New Password</ion-label>
                <ion-input   formControlName="password" type="password"></ion-input>
            </ion-item>
           
            <ion-item>
              <ion-label  position="floating" style="color:black">Confirm Password</ion-label>
              <ion-input  formControlName="confirmPassword" type="password"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="( UserCompanyProfile.get('confirmPassword').hasError('equalTo') || UserCompanyProfile.get('confirmPassword').hasError('required') ) && UserCompanyProfile.get('confirmPassword').touched">         
              <p class="error" *ngIf="UserCompanyProfile.get('confirmPassword').hasError('equalTo') && UserCompanyProfile.get('confirmPassword').touched">
              </p>
            </ion-item>   
         
            
         
            <ion-item >
              <ion-label  >Company</ion-label>
              <ion-select  formControlName="companyId"  [class.invalid]="selectedVal"   interface = "action-sheet">
                <ion-select-option *ngFor= "let company of companies"[value]= "company.id" >
                  {{ company.name }}
                </ion-select-option>
              </ion-select>
           
            </ion-item>
          </form>

          
       
        
      <ion-button  class="bouton-create" (click)="save()" expand="block" shape="round" type="submit" [disabled]="UserCompanyProfile.invalid"> <ion-icon name="create"></ion-icon>Create</ion-button>
     
      </ion-list>
    
</ion-content>