ion-header ion-toolbar {
    --background: #382574;
}

ion-icon {
    color:white;
}

ion-title {
    color:white;
}
ion-button {
    --background:#382574;
    margin-top: 50px;
    width: 250px;
}
ion-list {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}