ion-header ion-toolbar {
    --background: #382574;
}
ion-toolbar div {
    border: 1px solid #382574;
}
ion-button {
    margin-bottom:25px;
    margin-left:70px;
    margin-right:70px;
   --background: #382574;
   }
   .save-button-color{
     --background: #382574;
   }