<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title style="color:cornsilk">Consult</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/driver-list" style="color: white;"></ion-back-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>


<ion-content>
  <ion-card >
    <ion-card-content >
    <img src="./assets/user.jpg"/>
    <ion-item>
      <ion-label>{{Name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Distance:</ion-label>
    </ion-item>
   
    
   
  </ion-card-content>
  </ion-card>
  
      

  
  
  
</ion-content>
